<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>F.R.I.E.N.D.S</h1>
    <center>
        <input type="file" id="real-file" hidden="hidden" />
        <button type="button" id="custom-button">CHOOSE A FILE</button>
        <span id="custom-text"><br><br>No file chosen, yet.</span>
        <br><br>
        <button type="submit" id="custom-button1">Upload</button>
    </center>
    <script src="index.js"></script>
</body>
</html>