<!-- I've added one header tag, so that I can test the exchange of data between html and python script. I've done it successfully. As you can see, the name of the image file is being sent to my python script, from where I'm returning the value of the variable FILENAME, and it is then being rendered in html {{FILENAME}} header tag. 

I was right, the problem lied with the type attribute of the input tag (file/submit).

The data will transfer only when there is a submit action from the page.
Thus, I created a submit button and we've to use it. No other option.
As it is just vanilla right now, koshish kr that you add css to it according to the theme.

Delete this message after reading.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel= "stylesheet" type= "text/css" href= '{{ url_for("static", filename="styles.css") }}'>
</head>

<body>
    <h1>F.R.I.E.N.D.S</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>    
    <center>

        <div class="card">
            <h2>
                {{PREDICTED_CHARACTER}}
            </h2>
        </div>

        <h3>Please upload the image in Landscape</h3>

        <form class="forms" method="POST" action="/" enctype="multipart/form-data">
          
          <div class="file-upload">
            <div class="file-select">
              <div class="file-select-button" id="fileName">Choose File
              </div>
              <div class="file-select-name" id="noFile">No file chosen...</div> 
              <input type="file" name="fname" id="fname">
            </div>
          </div>
          
          <!-- <label for="SepalLength" class="formGroup">TEST HOLDER:</label> -->
          <!-- <input name="test" type="text" placeholder="Enter the Value"> -->
          <img id="img" src="#"/>
          <input type="submit" name="submit" id="submit" value="Submit">

        </form>


    </center>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>