<!-- Changed the theme color and styled the predict button
      I am exlploring CSS web designing and styling to make an attractive page 
    
    delete after reading-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    <style>
      @font-face {
          font-family: friends;
          src: url("font/friends.ttf");
}

    </style>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel= "stylesheet" type= "text/css" href= '{{ url_for("static", filename="styles.css") }}'>
      
</head>

<body>
    <h1> <em> F<span style="color: red;">.</span>R<span style="color:skyblue;">.</span>I<span style="color:yellow;">.</span>E<span style="color: red;">.</span>N<span style="color:skyblue;">.</span>D<span style="color: yellow;">.</span>S </em></h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>    
    <center>

        <div class="card">
            <h2>
                {{PREDICTED_CHARACTER}}
            </h2>
        </div>

        <div class="card">
            <h2>
                {{PROBABILITY_DIST}}
            </h2>
        </div>

        <h3>Please upload the image in Landscape</h3>

        <form class="forms" method="POST" action="/predict" enctype="multipart/form-data">
          
          <div class="file-upload">
            <div class="file-select">
              <div class="file-select-button" id="fileName">Choose File
              </div>
              <div class="file-select-name" id="noFile">No file chosen...</div> 
              <input type="file" name="fname" id="fname">
            </div>
          </div>
          
          <!-- <label for="SepalLength" class="formGroup">TEST HOLDER:</label> -->
          <!-- <input name="test" type="text" placeholder="Enter the Value"> -->
          <img id="img" src="#" alt="" />
          <br><br>
          <input type="submit" name="submit" id="submit" value="Predict">

        </form>


    </center>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>